@import url('../global.css');

header {
  /* Dimensions */
  min-height: 5rem;
  width: 85%;
  max-width: 50rem;
  /* min-width: 50rem; Set min-width*/

  /* Spacing */

  /* Display */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Styling */
  background-color: var(--sec-color);
  border: 0 solid;
  border-radius: 10px;

  /* Font */
  /* font-weight: ; */
}

h1 {
  font-weight: 900;
}

span {
  color: var(--hilight-color);

  font-weight: 900;
}
