@import url('../global.css');

header {
  /* Dimensions */
  min-height: 8.25rem;
  width: 85%;
  max-width: 45rem;
  /* min-width: 50rem; Set min-width*/

  /* Spacing */
  margin-top: 0.5rem;

  /* Display */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Styling */
  background-color: var(--sec-color);
  border: 0 solid;
  border-radius: 15px;

  /* Font */
  /* font-weight: ; */
}

h1 {
  font-weight: 900;
  font-size: 2.5rem;
}

span {
  color: var(--hilight-color);

  font-weight: 900;
}

main {
  /* Display */
  /* Ocupy all the space available in height: */
  flex-basis: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Div that contains h2 tag and config button tag */
.container {
  margin-top: 30%;

  position: relative;
}

/* Config button tag */
#config {
  /* Position */
  /* 
    Button will always be at the side
    of the container and won't occupy any space 
    (maintains h2 centralized) 
  */
  position: absolute;
  right: 103%; /* Push button outside of container */
}

h2 {
  text-align: center;
  /* flex-basis: 100%; */
}

/* Container that contains counter button */
.btn {
  /* flex-basis: 100%; */
  flex-grow: 1;

  /* Display */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#config {
  /* Dimensions */
  /* !Config image dimensions! */
  width: 32px;
  height: 32px;

  /* Add config image as background */
  background-image: url(src/assets/configwheel.png);
}

/* Counter button */
#counter {
  /* Dimensions */
  height: 6rem;
  width: 11rem;

  /* Border */
  border-radius: 120px;

  /* Color and shadow */
  background: #a80acf;
  box-shadow: 0px 0px 74px 40px rgba(217, 61, 255, 0.25);

  /* Font */
  color: var(--std-txt-color);
  font-size: 1.5rem;
  font-weight: 900;
}
