:root {
  /* Rem */
  font-size: 16px;

  /* Variables */
  --main-color: #4b2c63;
  --sec-color: rgb(55, 15, 69);
  --hilight-color: #af26ff;
  --std-txt-color: rgb(224, 224, 224);

  /* Text */
  color: var(--std-txt-color);
}

/* Reset */
* {
  margin: 0;
  padding: 0;

  /* Box-sizing */
  box-sizing: border-box;

  /* Font */
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

body {
  /* Dimensions */
  height: 100vh;

  /* Styling */
  background-color: var(--main-color);
}

/* Root container that wraps the App component*/
#root {
  height: 100%;
}

.App {
  /* Dimensions */
  height: 100%;
  width: 100%;

  /* Display */
  display: flex;
  flex-direction: column;
  align-items: center;

  /* Styling */
  background-color: var(--main-color);
}
